@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
} */

:root {

  --background: #fff;
  --foreground: #2B2B2C;
  --font-family: "Inter", sans-serif;  
  /* --font-size: 10px; */
  --line-height: 1;
  --letter-spacing: 0em;
  --text-color: #2B2B2C;
  --link-color: #2B2B2C;
  --link-hover-color: #2B2B2C;
  --spacing: 15px;
}



@media (max-width: 768px) {
  :root {
    --font-size: 10px;
  }
}



 

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  /* font-size: var(--font-size); */
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
} 