@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
} */

@font-face {
  font-family: 'MG';
  src:
    url('/fonts/MG-Regular.otf') format('opentype'),
    url('/fonts/MG-Regular.woff') format('woff'),
    url('/fonts/MG-Regular.woff2') format('woff2');
}

:root {
  --background: #fff;
  --foreground: #2b2b2c;
  --font-family: 'MG', sans-serif;
  /* --font-size: 10px; */
  --line-height: 1;
  --letter-spacing: 0em;
  --text-color: #2b2b2c;
  --text-color-hover: yellow;
  --link-color: #2b2b2c;
  --link-hover-color: #2b2b2c;
  --spacing: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181716;
    --foreground: #e5e5e5;
    --text-color: #e5e5e5;
    --link-color: #e5e5e5;
    --link-hover-color: #e5e5e5;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size: 10px;
  }
}

html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  -webkit-bounce: none;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  /* font-size: var(--font-size); */
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  position: relative;
  height: 100%;
}
